$body-bg: #e2d8be;
$secondary: #614544;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

a {
  text-decoration: none;
}

a i {
  color: #614544;
}

i {
  font-size: 2rem;
}

div.card {
  background-color: #F6F3EC;
}

div.card:hover, div.card:focus, div.card:visited {
  background-color: #BBC4AF;
}
